<!DOCTYPE html>
<html>
<head>

    <title>Flight checks website</title>

    <meta charset="UTF-8">  
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
   
    <script
        src="https://code.jquery.com/jquery-3.2.1.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script type="text/javascript" src="raspberry_scripts/saved_data/data.json"></script>

    <!-- PRE-FLIGHT CHECKS BUTTON ACTION -->
    <script type=text/javascript> 
        
        $(function() {
            $("#pre_flight_button").click(function (event) {
                $.getJSON('/pre_flight_checks',
                { },
                function(data) {

                }); 
                return false;
            });
        }); 
    
    </script> 

    <!-- ARM BUTTON ACTION -->
    <script type=text/javascript> 
        
        $(function() {
            $("#arm_button").click(function (event) {
                $.getJSON('/arm',
                { },
                function(data) {

                }); 
                return false;
            });
        }); 
    
    </script> 

    <!-- DISARM BUTTON ACTION -->
    <script type=text/javascript>
        
        $(function() {
            $('a#disarm_button').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/disarm',
                function(data) {
                    // Do nothing
                });
                return false;
            });
        });
        
    </script>

</head>

<body>
    
    <h4>Flight checks website</h4>

    <!-- Pre-flight checks button -->
    <div class='container'>
        <h3>Pre-flight checks</h3>
            <form>
                <input type = "button" id = "pre_flight_button" value = "Pre-flight checks" />
            </form>
    </div>

    <!-- Arm button -->
    <div class='container'>
        <h3>Arm</h3>
            <form>
                <input type = "button" id = "arm_button" value = "Arm and turn off Wi-Fi" />
            </form>
    </div>

    <!-- Disarm button -->
    <div class='container'>
        <h3>Disarm</h3>
            <form>
                <a href=# id=disarm_button><button class='btn btn-default'>Disarm and turn on Wi-Fi</button></a>
            </form>
    </div>

    <!-- Upload a file script action -->  
    <script type="text/javascript">
        function uploadFile(form)
        {
        const formData = new FormData(form);
        var oOutput = document.getElementById("static_file_response")
        var oReq = new XMLHttpRequest();
            oReq.open("POST", "upload_static_file", true);
        oReq.onload = function(oEvent) {
            if (oReq.status == 200) {
            oOutput.innerHTML = "Uploaded!";
            console.log(oReq.response)
            } else {
            oOutput.innerHTML = "Error occurred when trying to upload your file.<br \/>";
            }
            };
        oOutput.innerHTML = "Sending file!";
        console.log("Sending file!")
        oReq.send(formData);
        }
    </script>

    <!-- Upload a file button -->
    <div type="container">
        <h3>Upload a Python file</h3>
        <form enctype = "multipart/form-data" onsubmit="return false;" >
            <input id="file" type="file" name="static_file" accept=".py"/>
            <button id="upload-button" onclick="uploadFile(this.form)"> Upload </button>
        </form>
        <div id="static_file_response"> </div>

    </div>
    <br>

    <!-- Show data button -->
    <!--


        <div class='container'>
            <h3>Show data</h3>
            <form>
                <input type = "button" id = "show_data" value = "Show data" onclick="show_graphic()"/>
            </form>
        </div>
    -->

    <!-- Show data button Action-->
 
    <!-- Chart for data -->
    <canvas id="myChart" style="max-width:600px;border:1px solid #000000;"></canvas>

    <!-- Chart functionality script -->
    <script>
        
    
    var mydata = JSON.parse(data);
    console.log(mydata)

    var c = document.getElementById("myChart");
    var ctx = c.getContext("2d");
    //var xValues = [50,60,70,80,90,100,110,120,130,140,150];
    var yValues = [7,8,8,9,9,9,10,11,14,14];//,15];
    /*
    var yValues = [];

    for (var i = 1; i <= 10; i++) {
        yValues.push(i);
    }
*/
    new Chart(ctx, {
        type: "line",
        data: {
            labels: mydata.xValues,
            datasets: [{
            fill: false,
            lineTension: 0,
            backgroundColor: "rgba(0,0,255,1.0)",
            borderColor: "rgba(0,0,255,0.1)",
            label: "Interesting flight data",
            data: yValues
            }]
        },
        options: {
            legend: {display: true},
            scales: {
            yAxes: [{ticks: {min: 6, max:16}}],
            }
        }
    });

    </script>

</body>
</html>